<title>Crudzinho</title>
  <header>
    <h1>Usuários</h1>
  </header>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Foto</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user|%>
        <tr>
          <th><%= user.name %></th>
          <th><%= user.email %></th>
          <th><%= user.foto %></th>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

<%= link_to 'Novo Usuário', new_user_path %>